<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Notas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">
      <% if user_signed_in? %>
          <%= current_user.email %>
      </a>
      <% end %>
      <% if user_signed_in? %>
        <a class="nav-item nav-link" href="<%= destroy_user_session_path %>" data-method='delete'>Salir</a>
      <% else %>
        <a class="nav-item nav-link" href="<%= new_user_session_path %>">Ingresar</a>
        <a class="nav-item nav-link" href="<%= new_user_registration_path %>">Registrarse</a>
      <% end %>
    </div>
  </div>
</nav>
